:root {
  --white-color: #ffffff;
  --accent-color: #8b5df7;
  --border-color: #8d63f0;
  --border-btn-color: #4e19cb;
  --follow-bg-btn: #ebd8ff;
  --following-bg-btn: #5cd3a8;
  --btn-text-color: #373737;

  --base-font: "Montserrat";
}
